<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>User Info</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <h2>User info</h2>
    <p>Username: <span th:text="${#authentication.name}">Username</span></p>

    <p>Roles:</p>
    <ul>
        <li th:each="auth : ${#authentication.authorities}"
            th:text="${auth.getAuthority()}">ROLE_USER</li>
    </ul>

    <p sec:authorize="hasRole('ROLE_ADMIN')">This is visible only to admin users</p>
</body>
</html>
